$primary-color: #fc7525;
$secondary-color: #f6f7f1;
$secondary-color_1: #f0eeeb;
$black: #262628;
$gray: #6a6b6c;
$light-gray: #afafaf;
$green: #1ca142;
$text_0: .7rem;
$text_1: .8rem;
$text_2: 1rem;
$text_3: 1.5rem;
$text_4: 2rem;
a {
    color: $black;
    text-decoration: none;
    &:visited, &:hover, &:active {
        color: inherit;
      }
  }
 